In [14]:
## Reading Different Data sources with the help of pandas:
from io import StringIO

In [15]:
import pandas as pd
df = pd.read_csv('friends.csv')
df.head()

   Unnamed: 0  Train No 2  speed 2       city 2
0           0       12345       50       rampur
1           1       12334      123      kalkata
2           2       12456       54     bnreilly
3           3        4567       43  antarctical

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
data = ('col1, col2, col3\n'
        'x, y, 1\n'
        'a, b, 2\n'
        'c, d, 3')

In [18]:
type(data)

str

In [19]:
from io import StringIO
StringIO(data)

In [20]:
pd.read_csv(StringIO(data))

  col1  col2   col3
0    x     y      1
1    a     b      2
2    c     d      3

In [21]:
import pandas as pd
from io import StringIO

# Assuming 'data' is your CSV data in string format
data = "col1,col2,col3\n1,2,3\n4,5,6\n7,8,9"

# Corrected line
pd.read_csv(StringIO(data), usecols=['col1', 'col2'])

   col1  col2
0     1     2
1     4     5
2     7     8

In [22]:
df.to_csv('test.csv')

In [23]:
df.to_csv('test.csv', index = False)

In [24]:
data = ('a, b, c, d\n'
        '1, 2, 3, 4\n'
        '5, 6, 7, 8\n'
        '9, 10, 11')

In [25]:
pd.read_csv(StringIO(data))

   a   b   c    d
0  1   2   3  4.0
1  5   6   7  8.0
2  9  10  11  NaN

In [26]:
df = pd.read_csv(StringIO(data))

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1    b      3 non-null      int64
 2    c      3 non-null      int64
 3    d      2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 228.0 bytes

In [28]:
df = pd.read_csv(StringIO(data), dtype= 'object')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1    b      3 non-null      object
 2    c      3 non-null      object
 3    d      2 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes

In [30]:
df = pd.read_csv(StringIO(data), dtype= 'float')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      float64
 1    b      3 non-null      float64
 2    c      3 non-null      float64
 3    d      2 non-null      float64
dtypes: float64(4)
memory usage: 228.0 bytes

In [32]:
df.head()

     a     b     c    d
0  1.0   2.0   3.0  4.0
1  5.0   6.0   7.0  8.0
2  9.0  10.0  11.0  NaN

In [33]:
df.isnull().sum()

a     0
 b    0
 c    0
 d    1
dtype: int64

In [34]:
df['a']

0    1.0
1    5.0
2    9.0
Name: a, dtype: float64

In [35]:
df['a'][0]

1.0

In [1]:
# datatypes in csv
data = ('a, b, c, d\n'
        '1, 2, 3, 4\n'
        '5, 6, 7, 8\n'
        '9, 10, 11')

In [3]:
import pandas as pd
from io import StringIO

df = pd.read_csv(StringIO(data), dtype={'a': int, 'b': float, 'c': int})

In [4]:
df

   a   b   c    d
0  1   2   3  4.0
1  5   6   7  8.0
2  9  10  11  NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int32
 1    b      3 non-null      int64
 2    c      3 non-null      int64
 3    d      2 non-null      float64
dtypes: float64(1), int32(1), int64(2)
memory usage: 216.0 bytes

In [6]:
df.dtypes

a       int32
 b      int64
 c      int64
 d    float64
dtype: object

In [7]:
data = ('index, a, b, c,\n'
        '4, apple, bat, 5.7\n'
        '8, orange, cow, 10')

In [8]:
pd.read_csv(StringIO(data))

   index        a     b     c  Unnamed: 4
0      4    apple   bat   5.7         NaN
1      8   orange   cow  10.0         NaN

In [10]:
pd.read_csv(StringIO(data), index_col = 0)

             a     b     c  Unnamed: 4
index
4        apple   bat   5.7         NaN
8       orange   cow  10.0         NaN

In [11]:
# use index cols and usecols
data = (' a, b, c,\n'
        '4, apple, bat, 5.7\n'
        '8, orange, cow, ')

In [15]:
df = pd.read_csv(StringIO(data), usecols=['b', 'c'], index_col=0)

ValueError: Usecols do not match columns, columns expected but not found: ['b', 'c']