In [1]:
import pandas as pd

In [2]:
data = {
    'word': ["aa", "aah", "aahed", "aahing", "aahs"],
    'char_count': [2, 3, 5, 6, 4],
    'value': [2, 10, 19, 40, 29]
}

In [3]:

df = pd.DataFrame(data)

In [4]:
df.to_csv('word_csv.csv', index=False)

In [5]:
df

     word  char_count  value
0      aa           2      2
1     aah           3     10
2   aahed           5     19
3  aahing           6     40
4    aahs           4     29

In [6]:
df = pd.read_csv('word_csv.csv',index_col='word')

In [7]:
df.head()

        char_count  value
word
aa               2      2
aah              3     10
aahed            5     19
aahing           6     40
aahs             4     29

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, aa to aahs
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   char_count  5 non-null      int64
 1   value       5 non-null      int64
dtypes: int64(2)
memory usage: 120.0+ bytes

In [9]:
df.shape

(5, 2)

In [10]:
df.loc('InDEX, Coulmns')

ValueError: No axis named InDEX, Coulmns for object type DataFrame

In [34]:
df.loc["microspectrophotometries", "value"]

KeyError: 'microspectrophotometries'

In [11]:
import pandas as pd

read_df = pd.read_csv('word_csv.csv')

row_index = 1  

columns_to_select = ['word', 'value']  

subset_data = read_df.loc[row_index, columns_to_select]

print(subset_data)

word     aah
value     10
Name: 1, dtype: object

In [12]:
df.head()

        char_count  value
word
aa               2      2
aah              3     10
aahed            5     19
aahing           6     40
aahs             4     29

In [13]:
max_value = df['value'].max()

In [14]:
max_value

40

In [15]:
df.max()

char_count     6
value         40
dtype: int64

In [16]:
df.describe()

       char_count      value
count    5.000000   5.000000
mean     4.000000  20.000000
std      1.581139  15.049917
min      2.000000   2.000000
25%      3.000000  10.000000
50%      4.000000  19.000000
75%      5.000000  29.000000
max      6.000000  40.000000

In [17]:
import pandas as pd
data = {
    'word': ["aa", "aah", "aahed", "aahing", "aahs"],
    'char_count': [2, 3, 5, 6, 4],
    'value': [2, 10, 19, 40, 29]
}
df = pd.DataFrame(data)
new_words = ["pinfish", "glowing", "enfold", "microbrew"]
new_data = {
    'word': new_words,
    'char_count': [len(word) for word in new_words],  
    'value': [ord(word[0]) for word in new_words]  
}
new_df = pd.DataFrame(new_data)
updated_df = pd.concat([df, new_df], ignore_index=True)
print(updated_df)

        word  char_count  value
0         aa           2      2
1        aah           3     10
2      aahed           5     19
3     aahing           6     40
4       aahs           4     29
5    pinfish           7    112
6    glowing           7    103
7     enfold           6    101
8  microbrew           9    109

In [18]:
df.describe()

       char_count      value
count    5.000000   5.000000
mean     4.000000  20.000000
std      1.581139  15.049917
min      2.000000   2.000000
25%      3.000000  10.000000
50%      4.000000  19.000000
75%      5.000000  29.000000
max      6.000000  40.000000

In [19]:
df.sort_values(by=['value'], ascending=False)

     word  char_count  value
3  aahing           6     40
4    aahs           4     29
2   aahed           5     19
1     aah           3     10
0      aa           2      2

In [20]:
df.loc[df['value'] == 40]

     word  char_count  value
3  aahing           6     40

In [21]:
(df['value'] == 40)

0    False
1    False
2    False
3     True
4    False
Name: value, dtype: bool

In [22]:
import pandas as pd

# Assuming df is your DataFrame
for index, row in df.iterrows():
    if row['value'] == 40:
        print(row)

word          aahing
char_count         6
value             40
Name: 3, dtype: object

In [23]:
df['value'].describe()

count     5.000000
mean     20.000000
std      15.049917
min       2.000000
25%      10.000000
50%      19.000000
75%      29.000000
max      40.000000
Name: value, dtype: float64

In [24]:
df['value'].mode()

0     2
1    10
2    19
3    29
4    40
Name: value, dtype: int64

In [25]:
df.head()

     word  char_count  value
0      aa           2      2
1     aah           3     10
2   aahed           5     19
3  aahing           6     40
4    aahs           4     29

In [26]:
df['value'].value_counts()

value
2     1
10    1
19    1
40    1
29    1
Name: count, dtype: int64

In [27]:
df['value'].value_counts().head()

value
2     1
10    1
19    1
40    1
29    1
Name: count, dtype: int64

In [28]:
df.loc[df['value']==40].head(10)

     word  char_count  value
3  aahing           6     40

In [29]:

import pandas as pd
data = {
    'word': ["aa", "aah", "aahed", "aahing", "aahs"],
    'char_count': [2, 3, 5, 6, 4],
    'value': [2, 10, 29, 40, 29]
}
df = pd.DataFrame(data)
filtered_df = df.loc[df['value'] == 29].head(2)
print(filtered_df)

    word  char_count  value
2  aahed           5     29
4   aahs           4     29

In [30]:
df.loc[df['value']==29].sample(2)

    word  char_count  value
2  aahed           5     29
4   aahs           4     29

In [31]:
df

     word  char_count  value
0      aa           2      2
1     aah           3     10
2   aahed           5     29
3  aahing           6     40
4    aahs           4     29