In [1]:
import pandas as pd
data = {
    'word': ["aa", "aah", "aahed", "aahing", "aahs"],
    'char_count': [2, 3, 5, 6, 4],
    'value': [2, 10, 29, 40, 29]
}
df = pd.DataFrame(data)
filtered_df = df.loc[df['value'] == 29].head(2)
print(filtered_df)

    word  char_count  value
2  aahed           5     29
4   aahs           4     29

In [2]:
df.loc[df['value']==29].sample(2)

    word  char_count  value
2  aahed           5     29
4   aahs           4     29

In [3]:
df

     word  char_count  value
0      aa           2      2
1     aah           3     10
2   aahed           5     29
3  aahing           6     40
4    aahs           4     29

In [4]:
df.loc[df['value']==29].sort_values(by="word")

    word  char_count  value
2  aahed           5     29
4   aahs           4     29

In [5]:
df.loc[df['value']==29, 'char_count'].min()

4

In [6]:
df.loc[
    (df['value'] == 29) & 
    (df['char_count'] == df.loc[df['value'] == 29, 'char_count'].min())
]

   word  char_count  value
4  aahs           4     29

In [7]:
df

     word  char_count  value
0      aa           2      2
1     aah           3     10
2   aahed           5     29
3  aahing           6     40
4    aahs           4     29

In [8]:
df['Ratio'] =df['value']/df['char_count']

In [9]:
df.head()

     word  char_count  value     Ratio
0      aa           2      2  1.000000
1     aah           3     10  3.333333
2   aahed           5     29  5.800000
3  aahing           6     40  6.666667
4    aahs           4     29  7.250000

In [10]:
df['Ratio'].max()

7.25

In [11]:
df.sort_values(by="Ratio"). head()

     word  char_count  value     Ratio
0      aa           2      2  1.000000
1     aah           3     10  3.333333
2   aahed           5     29  5.800000
3  aahing           6     40  6.666667
4    aahs           4     29  7.250000

In [12]:
df.sort_values(by="Ratio", ascending=False). head()

     word  char_count  value     Ratio
4    aahs           4     29  7.250000
3  aahing           6     40  6.666667
2   aahed           5     29  5.800000
1     aah           3     10  3.333333
0      aa           2      2  1.000000

In [13]:
df.sort_values(by="Ratio", ascending=True). head()

     word  char_count  value     Ratio
0      aa           2      2  1.000000
1     aah           3     10  3.333333
2   aahed           5     29  5.800000
3  aahing           6     40  6.666667
4    aahs           4     29  7.250000

In [14]:
min_ratio = df.loc[df['Ratio'] == df['Ratio'].max()]

In [15]:
min_ratio

   word  char_count  value  Ratio
4  aahs           4     29   7.25

In [16]:
min_ratio_value = df['Ratio'].max()

In [17]:
min_ratio_value

7.25

In [18]:
df['Ratio'].value_counts()

Ratio
1.000000    1
3.333333    1
5.800000    1
6.666667    1
7.250000    1
Name: count, dtype: int64

In [19]:
df.loc[df['Ratio']== 29].shape

(0, 4)

In [20]:
df.query('Ratio ==10').shape

(0, 4)

In [21]:
df.query('`Ratio` == 29').sort_values(by='value', ascending=False).head()

Empty DataFrame
Columns: [word, char_count, value, Ratio]
Index: []

In [22]:
df.head()

     word  char_count  value     Ratio
0      aa           2      2  1.000000
1     aah           3     10  3.333333
2   aahed           5     29  5.800000
3  aahing           6     40  6.666667
4    aahs           4     29  7.250000

In [23]:
df.head()

     word  char_count  value     Ratio
0      aa           2      2  1.000000
1     aah           3     10  3.333333
2   aahed           5     29  5.800000
3  aahing           6     40  6.666667
4    aahs           4     29  7.250000

In [39]:

df.loc[df['Ratio'] ==10, 'value'].max()

nan

In [25]:
df.query('value==29').sort_values(by="char_count")

    word  char_count  value  Ratio
4   aahs           4     29   7.25
2  aahed           5     29   5.80

In [26]:
df['char_count'].describe()

count    5.000000
mean     4.000000
std      1.581139
min      2.000000
25%      3.000000
50%      4.000000
75%      5.000000
max      6.000000
Name: char_count, dtype: float64

In [27]:
mean_char_count = df['char_count'].mean()

In [28]:
mean_char_count

4.0

In [41]:
print(df.head())  
print(df['char_count'].describe())

     word  char_count  value     Ratio
0      aa           2      2  1.000000
1     aah           3     10  3.333333
2   aahed           5     29  5.800000
3  aahing           6     40  6.666667
4    aahs           4     29  7.250000
count    5.000000
mean     4.000000
std      1.581139
min      2.000000
25%      3.000000
50%      4.000000
75%      5.000000
max      6.000000
Name: char_count, dtype: float64

In [42]:
import pandas as pd


data = {
    'word': ["aa", "aah", "aahed", "aahing", "aahs"],
    'char_count': [2, 3, 5, 6, 4],
    'value': [2, 10, 29, 40, 29],
    'Ratio': [1.5, 10.0, 5.0, 8.0, 12.0]  
}


df = pd.DataFrame(data)
print(df)
filtered_df = df.query("`char_count` > 4")  
print(filtered_df)

     word  char_count  value  Ratio
0      aa           2      2    1.5
1     aah           3     10   10.0
2   aahed           5     29    5.0
3  aahing           6     40    8.0
4    aahs           4     29   12.0
     word  char_count  value  Ratio
2   aahed           5     29    5.0
3  aahing           6     40    8.0

In [43]:
import pandas as pd
data = {
    'word': ["aa", "aah", "aahed", "aahing", "aahs"],
    'char_count': [2, 3, 5, 6, 4],
    'value': [2, 10, 29, 40, 29],
    'Ratio': [1.5, 10.0, 5.0, 8.0, 12.0]
}
df = pd.DataFrame(data)
char_count = 4  
result = df.query("`char_count` > @char_count")
print(result)

     word  char_count  value  Ratio
2   aahed           5     29    5.0
3  aahing           6     40    8.0